<h1>example app: home</h1>

<a class="nav-link" href="/">Home
  <span class="sr-only">(current)</span>
</a>
<a class="nav-link" href="/saved">Saved Articles</a>
<a class="btn btn-danger scrape-new">grab new articles</a>

